<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="msg-box">키움</div>
            <div class="indicator">
                <div data-idx="0" class="pin active"></div>
                <div data-idx="1" class="pin"></div>
                <div data-idx="2" class="pin"></div>
                <div data-idx="3" class="pin"></div>
                <div data-idx="4" class="pin"></div>
                <div data-idx="5" class="pin"></div>
            </div>
            <div class="slider">
                <div class="box">
                    <img src="images/img1.jpg" alt="img1" data-name="키움">
                </div>
                <div class="box">
                    <img src="images/img2.jpg" alt="img2" data-name="이정후">
                </div>
                <div class="box">
                    <img src="images/img3.jpg" alt="img3" data-name="김혜성">
                </div>
                <div class="box">
                    <img src="images/img4.jpg" alt="img4" data-name="조상우">
                </div>
                <div class="box">
                    <img src="images/img5.jpeg" alt="img5" data-name="장재영">
                </div>
                <div class="box">
                    <img src="images/img6.jpg" alt="img6" data-name="이용규">
                </div>
            </div>
            <div class="controller">
                <button class="controlBtn" id="prev">&lt;</button>
                <button class="controlBtn" id="next">&gt;</button>
            </div>
        </div>
    </div>

    <script>
        let current = 0;
        let isSlide = false;

        slide();

        $(".pin").on("click", e => {
            let prevCurrent = current;
            current = $(e.currentTarget).data("idx");
            if (prevCurrent > current) prev();
            else if (prevCurrent < current) next();
            slide();
        });

        $("#prev").on("click", () => {
            if (isSlide) return;
            current--;
            prev();
            slide();
        });

        $("#next").on("click", () => {
            if (isSlide) return;
            current++;
            next();
            slide();
        });

        function prev() {
            $(".msg-box").animate({ "left": "150%", "opacity": 0 }, 300, () => {
                $(".msg-box").css({ "left": "50%", "top": "-50px", "opacity": 1 });
                let name = $(".box>img").eq(current).data("name");
                $(".msg-box").text(name);
            });
        }

        function next() {
            $(".msg-box").animate({ "left": "-150%", "opacity": 0 }, 300, () => {
                $(".msg-box").css({ "left": "50%", "top": "-50px", "opacity": 1 });
                let name = $(".box>img").eq(current).data("name");
                $(".msg-box").text(name);
            });
        }

        function slide() {
            isSlide = true;
            $(".pin").removeClass("active");
            $(".pin").eq(current).addClass("active");
            $(".msg-box").animate({ "top": "10px" }, 300);
            $(".slider").animate({ "left": `-${current * 300}px` }, 500, () => { isSlide = false; });

            if (current <= 0) $("#prev").attr("disabled", true);
            else if (current >= 5) $("#next").attr("disabled", true);
            else {
                $("#prev").attr("disabled", false);
                $("#next").attr("disabled", false);
            }
        }
    </script>

    <script>
        /*
         * $("#prev").on("click", () => {
         *     $(".slider>.box").eq(0).animate({ "left": "-100%" }, 500);
         *     $(".slider>.box").eq(1).animate({ "left": 0 }, 500);
         *
         *     set();
         * });
         *
         * $("#next").on("click", () => {
         *     $(".slider>.box").eq(0).css({ "left": 0 });
         *     $(".slider>.box").eq(1).css({ "left": "-100%" });
         *
         *     $(".slider>.box").eq(0).animate({ "left": "100%" }, 500);
         *     $(".slider>.box").eq(1).animate({ "left": 0 }, 500);
         *
         *     set();
         * });
         *
         * function set() {
         *     setTimeout(() => {
         *         let img = $(".slider>.box").eq(0).html();
         *         $(".slider>.box").eq(0).html($(".slider>.box").eq(1).html());
         *         $(".slider>.box").eq(1).html(img);
         *         $(".slider>.box").eq(0).css({ "left": 0 }, 500);
         *         $(".slider>.box").eq(1).css({ "left": "100%" }, 500);
         *     }, 550);
         * }
         */
    </script>
</body>

</html>